Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a popular document-oriented NoSQL database that stores data in flexible, JSON-like documents. It is designed to be highly scalable, performant, and flexible, making it a popular choice for modern web and mobile applications.

Non-relational databases, also known as NoSQL databases, are a type of database that do not use the traditional table-based relational model used in SQL databases. Instead, NoSQL databases use a variety of data models, such as document-oriented, key-value, graph, or column-family, which are designed to handle large volumes of unstructured or semi-structured data, and to provide greater scalability and performance than traditional SQL databases.

MongoDB is often preferred over SQL databases in scenarios where data is highly variable or unstructured, and where flexibility and scalability are important. For example, MongoDB is a good choice for applications that handle large volumes of unstructured data, such as social media platforms, online gaming, or content management systems. MongoDB also supports horizontal scaling, allowing for the addition of more servers to handle increasing data loads.

In addition, MongoDB offers a rich query language, flexible schema design, and built-in support for geospatial and text search queries, making it well-suited for real-time analytics, search engines, and location-based services. MongoDB also provides support for multi-document transactions, which allows for data consistency across multiple documents in a collection.

Overall, MongoDB is a popular choice for modern web and mobile applications that require flexibility, scalability, and performance, and where data consistency is not as critical as in traditional SQL databases.

Q2. State and Explain the features of MongoDB.

MongoDB is a popular NoSQL database that offers several key features that make it well-suited for modern web and mobile applications. Some of the key features of MongoDB include:

Document-oriented: MongoDB is a document-oriented database, which means that it stores data in flexible, JSON-like documents instead of traditional rows and columns. This allows for easier schema design, and makes it easier to store and retrieve complex, nested data structures.

Scalability: MongoDB is designed to be highly scalable, and supports horizontal scaling by adding more servers to handle increasing data loads. It also provides automatic sharding and load balancing, which allows for data to be spread across multiple servers for improved performance and reliability.

Flexible data model: MongoDB's flexible data model allows for the dynamic addition and removal of fields, and supports embedded documents and arrays. This makes it well-suited for applications that handle large volumes of unstructured or semi-structured data.

Rich query language: MongoDB offers a rich query language with support for a wide range of operators and functions. It also supports advanced features such as geospatial queries and text search, which makes it well-suited for real-time analytics and search applications.

High availability: MongoDB provides automatic failover and replication, which ensures high availability and data redundancy in the event of a server failure or network interruption.

Multi-document transactions: MongoDB supports multi-document transactions, which allows for data consistency across multiple documents in a collection. This feature ensures that all changes to the database are either committed or rolled back as a single, atomic operation.

Overall, MongoDB's combination of flexibility, scalability, and performance make it a popular choice for modern web and mobile applications, particularly those that handle large volumes of unstructured or semi-structured data.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [ ]:
import pymongo

In [ ]:
client = pymongo.MongoClient("mongodb+srv://bhushan:@cluster0.hlktcun.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [ ]:
db = client["pwskill"] #creating a database

In [ ]:
bhu = db["datascience"] #creating a collection

In [ ]:
data = {"name":"kunal"}

In [ ]:
bhu.insert_one(data)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [ ]:
data1 ={"name":"kunal","class":"FE","salary":25000} #creating data to insert

In [ ]:
bhu.insert_one(data1) #inserting data to the collection

In [ ]:
a = bhu.find_one({"name":"kunal"}) # finding the record
print(a)

{'_id': ObjectId('63efe6ca41239add9e7dc9ca'), 'name': 'kunal'}

In [ ]:
data2 = [{"name":"shreyash","class":7,"collage":"vnit"},
         {"name":"patrick","class":1,"collage":"ahs"},
         {"name":"karan","class":10,"collage":"ahs"},
         {"name":"akshay","class":2,"collage":"skncoe"}]

In [ ]:
 b = bhu.insert_many(data2)

In [ ]:
c = bhu.find()

In [ ]:
for i in c: #finding all
  print(i)

{'_id': ObjectId('63efe6ca41239add9e7dc9ca'), 'name': 'kunal'}
{'_id': ObjectId('63efe7c941239add9e7dc9cb'), 'name': 'kunal', 'class': 'FE', 'salary': 25000}
{'_id': ObjectId('63efe99041239add9e7dc9cc'), 'name': 'shreyash', 'class': 7, 'collage': 'vnit'}
{'_id': ObjectId('63efe99041239add9e7dc9cd'), 'name': 'patrick', 'class': 1, 'collage': 'ahs'}
{'_id': ObjectId('63efe99041239add9e7dc9ce'), 'name': 'karan', 'class': 10, 'collage': 'ahs'}
{'_id': ObjectId('63efe99041239add9e7dc9cf'), 'name': 'akshay', 'class': 2, 'collage': 'skncoe'}

In [ ]:
bhu.find_one({"name":"shreyash"}) #finding one

{'_id': ObjectId('63efe99041239add9e7dc9cc'),
 'name': 'shreyash',
 'class': 7,
 'collage': 'vnit'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

The find() method is used to query data from a MongoDB database. It is used to retrieve documents from a collection in a MongoDB database based on specified criteria. The find() method returns a cursor object that allows us to iterate over the result set.

Here is an example code that demonstrates how to use the find() method to query a MongoDB database:

In [9]:
import pymongo

In [11]:

client = pymongo.MongoClient("mongodb+srv://bhushan:MFhoeWCu2cm86frf@cluster0.hlktcun.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [12]:
db = client["shiv"]

In [13]:
bhole = db["shiv_baba"]

In [14]:
data = {"name":"kunal"}

In [18]:
data1 = [{"name":"shreyash","class":7,"collage":"vnit"},
         {"name":"patrick","class":1,"collage":"ahs"},
         {"name":"karan","class":10,"collage":"ahs"},
         {"name":"akshay","class":2,"collage":"skncoe"}]

In [20]:
b = bhole.insert_many(data1)

In [21]:
#using find method
fin = bhole.find_one({"name":"shreyash"})
print(fin)

{'_id': ObjectId('63f05fa99068e4fb778f8fa7'), 'name': 'shreyash', 'class': 7, 'collage': 'vnit'}

In [22]:
#finding the whole file 
a = bhole.find()
for i in a:
  print(i)

{'_id': ObjectId('63f05f2f9068e4fb778f8fa6'), 'name': 'kunal'}
{'_id': ObjectId('63f05fa99068e4fb778f8fa7'), 'name': 'shreyash', 'class': 7, 'collage': 'vnit'}
{'_id': ObjectId('63f05fa99068e4fb778f8fa8'), 'name': 'patrick', 'class': 1, 'collage': 'ahs'}
{'_id': ObjectId('63f05fa99068e4fb778f8fa9'), 'name': 'karan', 'class': 10, 'collage': 'ahs'}
{'_id': ObjectId('63f05fa99068e4fb778f8faa'), 'name': 'akshay', 'class': 2, 'collage': 'skncoe'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method in MongoDB is used to sort the documents in a collection based on a specified field. The sort() method takes one argument, which is a dictionary that specifies the field(s) to sort on and the sort order. By default, sort() sorts the documents in ascending order. To sort in descending order, we can set the value of the field to -1.

Here is an example code that demonstrates how to use the sort() method to sort a collection in MongoDB:

In [25]:
#from the above question 
ab = bhole.find().sort("class",1)

In [26]:
for i in ab:
  print(i)

{'_id': ObjectId('63f05f2f9068e4fb778f8fa6'), 'name': 'kunal'}
{'_id': ObjectId('63f05fa99068e4fb778f8fa8'), 'name': 'patrick', 'class': 1, 'collage': 'ahs'}
{'_id': ObjectId('63f05fa99068e4fb778f8faa'), 'name': 'akshay', 'class': 2, 'collage': 'skncoe'}
{'_id': ObjectId('63f05fa99068e4fb778f8fa7'), 'name': 'shreyash', 'class': 7, 'collage': 'vnit'}
{'_id': ObjectId('63f05fa99068e4fb778f8fa9'), 'name': 'karan', 'class': 10, 'collage': 'ahs'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one()
Suppose we have a collection called orders that contains documents representing customer orders. We want to remove a specific order from the collection based on its order number. Here's an example of how to use delete_one() to achieve this:

In [29]:
abc = bhole.delete_one({"name":"kunal"})

In [32]:
print(abc.deleted_count,"documents deleted")

1 documents deleted

In [35]:
for i in bhole.find():
  print(i)

{'_id': ObjectId('63f05fa99068e4fb778f8fa7'), 'name': 'shreyash', 'class': 7, 'collage': 'vnit'}
{'_id': ObjectId('63f05fa99068e4fb778f8fa8'), 'name': 'patrick', 'class': 1, 'collage': 'ahs'}
{'_id': ObjectId('63f05fa99068e4fb778f8fa9'), 'name': 'karan', 'class': 10, 'collage': 'ahs'}
{'_id': ObjectId('63f05fa99068e4fb778f8faa'), 'name': 'akshay', 'class': 2, 'collage': 'skncoe'}

delete_many()
Suppose we have the same orders collection, but we want to remove all orders that were placed before a certain date. Here's an example of how to use delete_many() to achieve this:

In [36]:
abcd = bhole.delete_many({"collage":"ahs"})

In [37]:
print(abcd.deleted_count,"documents deleted")

2 documents deleted

drop()
Suppose we have a collection called test_results that we no longer need, and we want to remove it from the database entirely. Here's an example of how to use drop() to achieve this:

In [38]:
db = client["pwskill"]
bhu = db["datascience"]

In [43]:
a = bhu.drop

In [40]:
print(a)

None

In [42]:
db = client["pwskill"].drop

In [48]:
db = client["shreyash"].drop

In [47]:
db.drop

Collection(Database(MongoClient(host=['ac-xxocysb-shard-00-01.hlktcun.mongodb.net:27017', 'ac-xxocysb-shard-00-02.hlktcun.mongodb.net:27017', 'ac-xxocysb-shard-00-00.hlktcun.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-zx8h6v-shard-0', tls=True), 'shreyash'), 'drop')